body{
color: #000000;
background-color: #F2AF5C;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecalho{
    background-image: url(retrato-de-cachorro-adoravel-olhando-para-longe.jpg);
    height: 700px;
    background-size: cover;
    padding-top: 1px;
    background-attachment: fixed;
}



.div-cabecalho{
    margin: 100px auto 0 auto;
    width: 80% ; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align: center;
}

.div-cabecalho h1{
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.div-cabecalho a{
    background-color: #94873b;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.div-cabecalho a:hover{
background-color: #ffffff;
color: #c0be49;

}
.cabecalho nav ul{
    margin: 25px 40px 0 0;
    text-align: right;
  
}

.cabecalho nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.cabecalho nav a{
    color: #ffffff;
    text-decoration: none;
    background-color: #94873b;
    padding: 5px;
    border-radius: 5px;
    
}

.cabecalho nav a:hover{
    background-color: #ffffff;
color: #c0be49;

}
      

main{
    width: 90%;
    margin: auto;
    
   
}

section{
    padding-top: 32px;
}

article{
background-color: #ffffff;
padding: 16px;
margin-bottom: 32px;

}

main h2 {
background-color: #c0be49;
color: #ffffff;
text-align: center;
text-decoration: none;
    text-transform: uppercase;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
    
}





footer {
    background-color: #c0be49;
color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
    
}










